<h1>Secret Santa</h1>

<div ng-controller="RecipientCtrl">

  <h2>{{ recipients.length }} gift recipients</h2>

  <ul>
    <li ng-repeat="recipient in recipients">
      {{ recipient }}
      <span ng-click="removeRecipient(recipient)">&times;</span>
    </li>
  </ul>

  <form ng-submit="addRecipient()">
    <input placeholder="Add a new gift recipient" ng-model="newRecipient" autofocus>
    <span class="help-inline" ng-show="isDuplicate(newRecipient)">
      {{ newRecipient }} already exists in the list
    </span>
  </form>

</div>

