<h1>Secret Santa</h1>

<div ng-controller="RecipientCtrl">

  <h2>{{ recipients.length }} gift recipients</h2>

  <ul>
    <li ng-repeat="recipient in recipients track by $id($index)">
      {{ recipient.name }}
      <span class="destroy" ng-click="removeRecipient(recipient)">&times;</span>
    </li>
  </ul>

  <form ng-submit="addRecipient()">
    <input placeholder="Add a new gift recipient" ng-model="newRecipient" autofocus>
    <span class="help-inline" ng-show="isDuplicate(newRecipient)">
      {{ newRecipient }} already exists in the list
    </span>
  </form>

</div>

<div ng-controller="ConstraintCtrl">

  <h2>Constraints</h2>

  <ul>
    <li ng-repeat="recipient in recipients track by $id($index)" ng-show="recipient.constraints.length">
      {{ recipient.name }} should not give a gift to
      {{ recipient.constraints.join(', ') }}
      <span class="destroy" ng-click="removeConstraints(recipient)">&times;</span>
    </li>
  </ul>

  <form ng-submit="addConstraintWithOpposite()">
    <select ng-model="newConstraintFrom">
      <option ng-repeat="recipient in recipients track by $id($index)">{{ recipient.name }}</option>
    </select>
    should not give a gift to
    <select ng-model="newConstraintTo">
      <option ng-repeat="recipient in recipients track by $id($index)">{{ recipient.name }}</option>
    </select>
    <label for="opposite">
      <input id="opposite" type="checkbox" ng-model="opposite">
      and the opposite
    </label>
    <input type="submit" value="Add"></input>
  </form>

</div>


